
.about-article h2 {
    color: #31B2C5;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 700;
}

.about-top-section {   
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
}

.about-top-text {
    width: 70%;
} 

.about-top-images {
    width: 30%;
    padding: 20px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
}

.about-top-images img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.about-container {
    margin: 0 auto;
    padding: 30px;
}

.about-middle-section img {
 margin: 0 auto;
 display: block;
}

.about-middle-section li {
    margin-bottom: 15px;
}

.about-bottom-section {
    display: flex;
    align-items: center; 
}

.about-mission, .about-vision {
    width: 50%;
}

.about-mission img, .about-vision img {
    margin: 0 auto;
    display: block;
    width: 70%;
}


