.filter-section {
    display: flex;
}

.filter-container,
.sort-container {
    position: relative;
    width: 8%;
}

.filter-container button,
.sort-container button {
    width: 70%;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.379);
    border-radius: 6px;
    width: fit-content;
    margin-top: 3px;
}

.filter-item {
    padding: 5px;
    cursor: pointer;
    width: fit-content;
}

.filter-item:hover {
    background-color: #31B2C5;
    color: #fafafa;
}

.small{
    font-size: 0.8em;
}

.hidden {
    display: none;
}