.hire-container {
    padding: 30px;
}

h1 {
    margin: 20px;
}

.bikes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bikesInfo-container {
    width: 100%;
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bikesInfo-container img {
    width: 100%;
    height: 100%;
}

.bikesInfo {
    text-align: left;
    width: 100%;
    padding: 10px;
}

.bikesInfo h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #004882;
}

.bikesInfo h2 {
    color: #31B2C5;
}

.bikesInfo-btn {
    background-color: #00488214;
    margin-top: 10px;
    text-align: left;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    color: #004882;
}