.info-container {
    padding: 30px;
}

.productInfo-container {
    display: flex;
    align-items: center;
}

.productInfo {
    width: 40%;
}

.productInfo nav {
    box-shadow: none;
}

.outlet-container {
    height: 40vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0;
}

.outlet-container * {
    overflow: visible;
    /* Prevents nested scrollbars */
}

.outlet-container p {
    letter-spacing: 1.2px;
}

.productInfo h2 {
    color: #31B2C5;
    font-size: 1.9rem;
    font-weight: 600;
}

.productInfo h3 {
    color: #004882;
    font-size: 1.3rem;
    font-weight: 500;
}

.productInfo p {
    padding: 5px 0;
    font-size: 0.9rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #004882;
}

.productImage-container {
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.productImage-container img {
    width: 100%;
    padding: 10px;
}

.not-availableBox {
    background-color: rgb(232, 12, 48);
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.not-availableBox span {
    color: #fafafa;
}

.back-link {
    display: inline-block;
    transition: all 0.3s ease-in-out;
}


.back-link p {
    font-size: 1.2em;
    color: #004882;
    font-weight: 600;
    cursor: pointer;
}

.back-link p:hover {
    color: #31B2C5;
}

.back-link:hover .icon {
    animation: bounceLeft 0.8s ease-in-out infinite;
}

@keyframes bounceLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Scrollbar Width */
.outlet-container::-webkit-scrollbar {
    width: 30px;
}

/* Scrollbar Track */
.outlet-container::-webkit-scrollbar-track {
    background: linear-gradient(to right,
            transparent 0%, transparent 45%,
            #808284ab 45%, #808284ab 55%,
            transparent 55%, transparent 100%);
    border-radius: 10px;
}

/* Small Circular Scrollbar Thumb */
.outlet-container::-webkit-scrollbar-thumb {
    background: radial-gradient(circle,
            #31B2C5 0%, #31B2C5 40%,
            transparent 40%, transparent 100%) no-repeat;
    background-size: 25px 25px;
    background-position: center;
    border-radius: 50%;
}

/* On Hover - No Blur, Just a Slight Color Change */
.outlet-container::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle,
            #004882 0%, #004882 40%,
            transparent 40%, transparent 100%) no-repeat;
    background-size: 25px 25px;
    background-position: center;
}