.productInfo-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.productInfo {
    width: 40%;
    margin: 0 auto;
}

.productInfo h2, .productInfo h3 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #31B2C5;
}

.productInfo h2 {
    color: #31B2C5;
}

.productInfo h3 {
    color: #004882;
}

.productInfo p {
    margin: 10px 0;
    font-size: 0.9rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #004882;
}

.productImage-container {
    width: 50%;
    position: relative;
}

.productImage-container img {
    width: 100%;    
}

.not-availableBox {
    background-color: rgb(232, 12, 48);
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.not-availableBox span {
    color: #fafafa;
}


