.sort-reviews {
    display: flex;
    justify-content: space-between;
    }

.reviews-container {
    margin-top: 30px;
    background-color: #faf7f7;
}

.reviews-header {
    background-color: #31B2C5;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.reviews-header img {
    border-radius: 20px;
    min-width: 400px;
    object-fit: contain;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-rating {
    margin-top: 30px;
    display: flex;
    align-items:center;
    font-size: 0.8em;
}

.star-list {
    display: flex;
    font-size: 1.2em !important;
}

.star-icon {
    color: rgb(241, 211, 39);
}

/* Filter Reviews */
.filter-reviews-container {
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 30px;
}

.reviews-count p {
    font-size: 0.8em;
}
.leave-review-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave-review-cta button{
   align-self: flex-end;
   font-size: 1em;
   color: white;
   background-color: #004882;
   padding: 10px 20px;
}

.leave-review-cta button:hover {
    background-color: #31B2C5;
}
.star-rating-count {
    display: flex;
}

/* Bike type */

.bike-by-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

select {
    min-width: 500px;
    padding: 5px;
    border-radius: 10px;
}

/* Latest Reviews*/
.latest-reviews-container {
    padding: 30px;
}

.latest-reviews-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.review-card {
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 33%;
}

.avatar-img {
    width: 50px;
    border-radius: 50%;
}

.review-member-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-details h3 {
    font-weight: bold;
}

.review-info {
    margin-top: 10px;
}

.date-location {
    font-size: 0.8em;
    margin-top: 10px;
}

.review-icons {
    font-size: 1.4em;
    color: #31B2C5;
    margin-right: 5px;
}



