/* General Container */
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

/* Intro Section */
.intro {
    width: 30%;
    margin: 0 auto;
}

.intro p {
    margin: 10px 0;
}

/* Intro Button */
.intro_btn {
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: #31B2C5;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.intro_btn:hover {
    background-color: #004882;
}

/* Icon List */
.iconList {
    display: flex;
    flex-direction: column;
}

.iconList li {
    display: flex;
    align-items: center;
}

.iconList img {
    width: 50px;
    margin: 5px 10px 5px 0;
}

.home-container img{
 margin: 0 auto;
}