.logo {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-bottom:10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav ul {
    color: #004882;
    display: flex; 
    align-items: center;
    gap: 20px; 
    cursor: pointer;
}

nav li {
    padding: 5px 10px;
    border-radius: 15px;
}

nav li:hover {
    background-color: #31B2C5;
    color: white; 
}


